
<link href="/chess/css/chessboard-1.0.0.css" rel="stylesheet" />

<div>
  <div id="myBoard" style="width: 400px"></div>
  <label>Status:</label>
  <div id="status"></div>
  <label>FEN:</label>
  <div id="fen"></div>
  <label>PGN:</label>
  <div id="pgn"></div>
</div>


<script src="/chess/js/socket.io-1.7.3.min.js"></script>
<script src="/chess/js/jquery-3.4.1.min.js"></script>
<script src="/chess/js/chessboard-1.0.0.min.js"></script>
<script src="/chess/js/chess-0.10.2.min.js"></script>
<script src="/chess/js/app.js"></script>


<script>

    var board = null;
    var game = new Chess();

    var $status_div = $('#status');
    var $fen_div = $('#fen');
    var $pgn_div = $('#pgn');

    var project_id = "{{ project_id }}";
    var color = "{{ color }}";
    var game_id = "{{game_id}}";
    var white_id = null;
    var black_id = null;

    {% if white %}
      white_id = {{white}};
      game.header('White','{{white}}');
    {% endif %}

   {% if black %}
      black_id = {{black}};
      game.header('Black','{{black}}');
    {% endif %}

    game.header('Event', '{{game_id}}');

    var config = {
        draggable: true,
        position: 'start',
        onDragStart: onDragStart,
        onDrop: onDrop,
        onSnapEnd: onSnapEnd
    };

    board = Chessboard('myBoard', config);

    board.position(game.fen());

    updateStatus();

    parent.document.getElementById("chess_frame").onload();


</script>