{% extends "base.html" %}

{% macro board(color) %}
<div class="board-{{ color }}">
    <p>Beepers: <span class="board-beepers">0</span></p>
</div>
{% endmacro %}

{% macro beeper_img(color) %}
<span id="beepers-{{color}}" style="color:#3385C8;font-weight:bold;"><img class="beeper-img" src="" style="vertical-align:bottom;width:24px;height:24px;object-fit: cover;object-position:0 0;display:inline;"> x <span id="beeper-number-{{ color }}">0</span></span>
{% endmacro %}

{% block styles %}
{{super()}}
<link href="/karel/challenge/app.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <span style='float:left'><span id='karel-green-name' class='player-name'>-</span>{{beeper_img("karel-green")}}</span><span style='float:right'><span id='karel-yellow-name' class='player-name'>-</span>{{beeper_img("karel-yellow")}}</span>
            <div id="ref_canvas_container">
                <canvas id='canvas'></canvas>
            </div>
            <span style='float:left'><span id='karel-blue-name' class='player-name'>-</span>{{beeper_img("karel-blue")}}</span><span style='float:right'><span id='karel-red-name' class='player-name'>-</span>{{beeper_img("karel-red")}}</span>
        </div>
        <div class="col-md-6" style='display:none'>
            <form>
                <div class="form-group">
                    <div class="btn-group" role="group">
                        <div>
                            <input class="btn btn-warning" type="button" id="test_btn" value="Test"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="display:none">
        <div class="col-md-3">
            {{ board("karel-blue") }}
        </div>
        <div class="col-md-3">
            {{ board("karel-green") }}
        </div>
        <div class="col-md-3">
            {{ board("karel-red") }}
        </div>
        <div class="col-md-3">
            {{ board("karel-yellow") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="scores" style="display:none">
                <p id="karel-blue-pos"></p>
                <p id="karel-blue-bag"></p>
                <p id="karel-green-pos"></p>
                <p id="karel-red-pos"></p>
                <p id="karel-yellow-pos"></p>
            </div>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var game_mode = 'normal';
  var level_name = 'level0';
  var game_id = '{{ game_id }}';
  var pc_id = '{{ pc_id }}';
  var handle = '{{ handle }}';
  var players = {{ players|tojson|safe }};
  var max_instr = 10;
  var max_time = 100;
  var num_beepers = 100;
  if (isNaN(max_instr)) {
    max_instr = 0;
  }
  if (isNaN(max_time)) {
    max_time = 0;
  }
  if (isNaN(num_beepers)) {
    num_beepers = 0;
  }

</script>
<script src="/karel/challenge/ext/socket.io-1.7.3.min.js"></script>
<script src="/karel/challenge/ext/jquery-3.1.1.min.js"></script>
<script src="/karel/challenge/game.js"></script>
<script src="/karel/lib/impact/impact.js"></script>
<script src="/karel/challenge/main.js"></script>
{{super()}}
{% endblock %}
