{% extends "base.html" %}

{% block styles %}
{{super()}}
<link href="/karel/challenge/app.css" rel="stylesheet">
{% endblock %}




{% block content %}
<div class="container">
    <div class="app">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ messages[0] }}</strong>
                </div>
            {% endif %}
        {% endwith %}
    </div>

</div><!-- /.container -->
{% endblock %}

